@use "variables-local";

.minyatur {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
    // margin-bottom: 17px; 

    // hide elements until script is completed
    &>div:not([class]) {
        position: relative;
        display: none;
        width: 100%;
        margin: 0 auto;
    }

    .minyatur-board {
        width: 100%;
        margin: 0 auto;
        /*center-aligned*/
        font-size: 0px;
        position: relative;
        box-sizing: border-box;
        overflow: hidden;

        ul {
            position: absolute;

            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /*overflow:hidden;*/
            list-style: none;
            padding: 0;
            box-sizing: border-box;
            z-index: 1;

            display: flex;
            flex-wrap: nowrap;

            overflow: auto;
            overflow-y: hidden;
            scrollbar-width: none;
            scroll-behavior: smooth;
            scroll-snap-type: x mandatory;
        }

        li {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            background-color: var(--background-grey-dark-zero);
            font-size: 12px;
            list-style: none;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            flex-shrink: 0;

            scroll-snap-align: start;

            img,
            i,
            video {
                /* Note: If transitionType is zoom, it will be overridden to cover. */
                position: relative;
                display: block;
                margin: 0 auto;
                cursor: default;
                width: 100%;
                height: 100%;
            }

            .minyatur-on-image-message-wrapper {
                position: relative;
                margin: 0 auto;
            }

            .minyatur-on-image-message-container {
                position: absolute;
                bottom: 40px;
                left: 40px;
                background-color: white;
                border-radius: 3px;
                font-size: 3vmin;
                font-weight: 600;
                padding: .5vmin 1vmin;
            }

            @media only screen and (max-width: variables-local.$responsive-breakpoint-level-1) {
                .minyatur-on-image-message-container {
                    left: 10px;
                }
            }
        }

        /* ---------Arrow buttons ------- */
        /* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */
        .minyatur-board-button-container {
            position: absolute;
            margin: 0 auto;
            width: 100%;
            height: 0;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }

        .minyatur-board-prev-button,
        .minyatur-board-next-button {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: min(10vmin, 52px);
            height: min(13vmin, 72px);
            top: 50%;
            transform: translateY(-50%);
            /* background-color: $color-grey-500; */
            overflow: hidden;
            white-space: nowrap;
            user-select: none;
            border-radius: 2px;
            opacity: .8;
            cursor: pointer;
            align-items: center;
            -webkit-user-select: none;
            z-index: 2;

            &::before {
                position: absolute;
                content: "";
                width: min(5vmin, 30px);
                height: min(5vmin, 30px);
                border-left: min(.7vmin, 3px) solid var(--color-arrow-inactive);
                border-top: min(.7vmin, 3px) solid var(--color-arrow-inactive);
                border-radius: 2px;
                transition: all 0.05s;
            }

            &:hover::before {
                width: min(5.3vmin, 32px);
                height: min(5.3vmin, 32px);
                border-left: min(.9vmin, 4px) solid var(--color-arrow-active);
                border-top: min(.9vmin, 4px) solid var(--color-arrow-active);
            }
        }

        .minyatur-board-prev-button {
            left: 0;
        }

        .minyatur-board-next-button {
            right: 0;
        }

        .minyatur-board-prev-button::before {
            -ms-transform: rotate(-45deg);
            /*IE 9*/
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            backface-visibility: hidden;
            right: 4px;
        }

        .minyatur-board-next-button::before {
            -ms-transform: rotate(135deg);
            /*IE 9*/
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            backface-visibility: hidden;
            left: 4px;
        }

        .minyatur-board-prev-button div,
        .minyatur-board-next-button div {
            display: none;
        }

        .minyatur-board-prev-button,
        .minyatur-board-next-button {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            user-select: none;
        }

        @media only screen and (max-width: variables-local.$responsive-breakpoint-level-1) {
            .minyatur-board-button-container {
                // display: none;
            }
        }
    }
}

/* DOT THUMBNAIL */
.minyatur-thumbnail-dot {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1;

    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        gap: .5vw;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    li {
        height: .5vh;
        margin-top: 0;
        background-color: var(--color-thumbnail-inactive);
        opacity: .8;
        cursor: pointer;
        transition: all 0.4s;
        flex-grow: 1;

        &.active {
            background-color: var(--color-thumbnail-active);
            opacity: 1;

            &:hover {
                background-color: var(--color-thumbnail-active);
            }
        }

        &:hover {
            background-color: var(--color-thumbnail-hover);
        }

        margin-top: 2px;
    }
}

/* END OF DOT THUMBNAIL */

/* BASIC THUMBNAIL */
.minyatur-thumbnail-basic {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    /*Gives room for arrow buttons*/
    box-sizing: border-box;
    user-select: none;

    ul {
        position: relative;

        display: grid;
        grid-gap: min(2vw, 7px);
        grid-template-columns: repeat(auto-fill, minmax(min(10vmin, 50px), 1fr));

        list-style: none;
        padding: 6px 0;
        margin: 0 auto;


        li {
            position: relative;

            display: flex;
            align-items: center;
            justify-content: center;

            list-style: none;

            cursor: pointer;
            height: min(10vmin, 50px);
            width: min(10vmin, 50px);
            border: 2px solid var(--color-theme-base);
            box-sizing: border-box;

            overflow: hidden;

            &+li {
                //  margin-left: 6px;
            }

            &.active,
            &.active:hover {
                border-color: var(--color-theme-dark);
            }

            &:hover {
                background-color: var(--color-theme-light);
            }

            &>* {
                max-width: 100%;
                max-height: 100%;
                display: block;
                margin: 0 auto;

                // iframe user agent border to none;
                border: none;
            }

            /* a {
                    width: 100%;
                    height: 100%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-color: red;
                    display: block;
                    font-size: 0;
                    } */
        }
    }
}

/* END OF BASIC THUMBNAIL */

/* SLIDER THUMBNAIL */
.minyatur-thumbnail-snap {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    /*Gives room for arrow buttons*/
    box-sizing: border-box;
    user-select: none;

    ul {
        position: relative;
        list-style: none;
        padding: 6px 0;
        margin: 0 auto;

        display: flex;
        flex-wrap: nowrap;
        gap: min(2vw, 10px);

        overflow: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
        scroll-behavior: smooth;
        // scroll-snap-type: x mandatory;
        // transition: all 2s;

        // overscroll-behavior-x: contain;

        li {
            position: relative;
            display: flex;
            align-items: center;
            flex-shrink: 0; // Bu 0 olmazsa itemler container küçükdükçe küçülüyor.
            cursor: pointer;
            height: min(10vmin, 50px);
            width: min(10vmin, 50px);
            border: 2px solid var(--color-theme-base);
            opacity: 1;
            list-style: none;
            // transition: all 0.2s;
            // transform: scale(1);

            // scroll-snap-align: start;

            &+li {
                // margin-left: 6px;
            }

            &.active,
            &.active:hover {
                border-color: var(--color-theme-dark);
            }

            &:hover {
                background-color: var(--color-theme-light);
            }

            &>* {
                max-width: 100%;
                max-height: 100%;
                display: block;
                margin: 0 auto;

                // iframe user agent border to none;
                border: none;
            }

            /* a {
                    width: 100%;
                    height: 100%;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-color: red;
                    display: block;
                    font-size: 0;
                    } */
        }
    }
}

/* END OF SLIDER THUMBNAIL */

/* Zoom */
.minyatur-zoom-container {
    position: relative;
}

.minyatur-zoom-lens {
    position: absolute;
    visibility: hidden;
    /*set the size of the lens:*/
    /* width: 200px;
    height: 100px; */
    top: 0;
    left: 0;
    background-color: var(--color-zoom-lens);
    z-index: 1;
}

/* End of zoom */

#zoom-container {
    // border: 1px solid #d4d4d4;
}

.minyatur-zoom-result {
    position: absolute;
    border: 2px solid var(--bordercolor-grey-light-400);
    visibility: hidden;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: var(--color-image-background-color);
    /*set the size of the result div:*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

// Fullscreen
.minyatur-fullscreen-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, 1);
    top: 0;
    left: 0;
    z-index: 9999;

    animation-duration: 0.2s;
    animation-name: animeOpacityFadeIn;

    @keyframes animeOpacityFadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    &.hidden,
    .hidden {
        display: none !important;
    }

    /* @keyframes animeOpacityFadeIn {
        from {
            opacity: 0;
            display: none;
        }

        to {
            opacity: 1;
            display: block;
        }
    }

    &.hidden {
        animation-name: animeOpacityFadeOut;
        display: none;

        @keyframes animeOpacityFadeOut {
            from {
                opacity: 1;
                display: block;
            }

            to {
                opacity: 0;
                display: none;
            }
        }
        } */

    .mfw-close-button-container {
        position: fixed;
        right: 0;
        z-index: 1;
        padding: 10px 15px 0 0;


        button {
            position: relative;
            color: white;
            border: none;
            font-size: 11px;
            width: 2.5em;
            height: 2.5em;
            background-color: transparent;
            box-sizing: content-box;
            padding: 5px;
            cursor: pointer;

            &:before {
                position: absolute;
                content: ' ';
                border-radius: 50%;
                background-color: rgba(40, 40, 40, .6);
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }
    }

    .mfw-div-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        box-sizing: border-box;

        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .mfw-div-container {
            position: relative;
            width: 100%;
            height: 0px;
            overflow: hidden;

            &>div {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                overflow: hidden;
            }
        }
    }

    .mfw-image-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 0;
        box-sizing: border-box;

        .mfw-image-container {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            user-select: none;

            .nfw-image-item {
                margin: 0 auto;
                position: relative;

                .nfw-image {
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;

                    &.nfw-zoom-out {
                        cursor: zoom-in;
                    }

                    &.nfw-zoom-in {
                        cursor: zoom-out;
                    }
                }
            }
        }
    }
}